doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="./styles.css")
  body
    h1 Hello World!
    | We are using Node.js 
    span(id="node-version")
    | , Chromium 
    span(id="chrome-version")
    | , and Electron 
    span(id="electron-version")
    
    //- Content block for injecting specific page content
    block content

    script(src="./renderer.js")
